<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Filtry:</h2>
          <p>Strona: <input type="number" placeholder="page" ng-model="params.page"></p>
          <p>Liczba postów na stronie: <input placeholder="number on page" type="number" min="10" max="50" ng-model="params.numberOnPage"></p>
          <p>Tag: <input ng-model="params.tags"></p>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <button clas="btn" type="button" name="button" ng-click="prev()">&lt;&lt;</button>
    </div>
    <div class="col-md-1 col-md-offset-10 text-right">
      <button clas="btn pull-right" type="button" name="button" ng-click="next()">&gt;&gt;</button>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default" >
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>id</th>
                <th>Zadanie</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="todo in todoData">
                <td><a href="" ui-sref="edit({todoId: todo.id})">{{todo.id}}</a></td>
                <td><a href="" ui-sref="edit({todoId: todo.id})">{{todo.title}}</a></td>
                <td></td>
                <td><form><button>x</button></form></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button clas="btn" type="button" name="button" ng-click="prev()">&lt;&lt;</button>
    </div>
    <div class="col-md-1 col-md-offset-10 text-right">
      <button clas="btn pull-right" type="button" name="button" ng-click="next()">&gt;&gt;</button>
    </div>
  </div>
</div>
